* {
  maring: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdf6e3;
}

h1, p, div {
  color: #268bd2;
  background-color: #eee8d5;
  text-align: center;
}

div {
  width: 300px;
  padding: 20px;
  border: 10px solid #cb4b16;
}
